@import "tailwindcss";

:root {
    --color-primary: #2d6c64;
    --color-primary-hover: #255a54;
    --color-primary-active: #1e4a45;

    --color-primary-light: #d9ecea;
    --color-primary-light-hover: #cfe3e1;
    --color-primary-light-active: #c5d9d7;

    --color-primary-soft: #eef6f5;
}